.filters {
    padding-left: 15px;
    color: rgb(154, 122, 85);
    font-family: monospace;
    font-size: large;
    font-weight: 500;
}

.checkBox {
    border: 2px solid rgb(220, 218, 217);
    background-color: rgb(191, 181, 200);
    border-radius: 5px;
}